NODE_ENV="development"
PORT=8000
API_URL="http://localhost:8000"

ADMIN_URL="http://localhost:3000"
EMPLOYEE_URL="http://localhost:3001"
SUPERVISOR_URL="http://localhost:3002"
CUSTOMER_URL="http://localhost:3003"

SECRET_JWT="replace-me"

DB_DEV_USERNAME="root"
DB_DEV_PASSWORD=""
DB_DEV_DATABASE="tomoh"

DB_PRO_HOST="localhost"
DB_PRO_USERNAME=""
DB_PRO_PASSWORD=""
DB_PRO_DATABASE=""

SMTP_USER=""
SMTP_PASS=""
BREVO_API_KEY=""
